

    {% extends 'base.html' %}
    {% block body %}
    <div>

        <h3> Add A New Animal </h3>
     
        <form method="POST" action="{{ url_for('add_animal') }}">
    
            {{ form.csrf_token }}
            {{ form.Name.label }} {{ form.Name(size = 20) }}
            {{ form.Country.label }} {{ form.Country(size = 20) }}
            {{ form.Weight.label }} {{ form.Weight(size = 20) }}
            {{ form.Quantity.label }} {{ form.Quantity(size = 20) }}
        
            <input type="submit" value="Add Animal">
        
        </form>
    
    </div>
    {% endblock %}